<div *ngIf="exchangeRates">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="toolbar-title">{{ title }}</div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <mat-list>
      <mat-list-item class="text-title">
        Today sell for {{ exchangeRates.usdSell }}
      </mat-list-item>
      <mat-list-item class="currency-item">
        <div class="sign-container">$</div>
        <mat-form-field class="example-full-width">
          <input matInput
                 matAutosize="true"
                 [ngModel]="exchangeRatesModel.usdSell"
                 (ngModelChange)="exchangeRatesModel.usdSell=$event"
                 [value]="getConvertedUahToUsd()"
                 type="number">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item class="currency-item">
        <div class="sign-container">₴</div>
        <mat-form-field class="example-full-width">
          <input matInput
                 type="number"
                 [ngModel]="exchangeRatesModel.uahSell"
                 (ngModelChange)="exchangeRatesModel.uahSell=$event"
                 [value]="getConvertedUsdToUah()">
        </mat-form-field>
      </mat-list-item>
    </mat-list>
    <div class="clear-button-container">
      <button mat-button
              color="warn"
              (click)="clearAll()">
        Clear
      </button>
    </div>
  </mat-card>
</div>

<div *ngIf="!exchangeRates" class="spinner-container">
  <mat-progress-spinner
    [mode]="'indeterminate'"
    [color]="'primary'">
  </mat-progress-spinner>
</div>
