.toolbar-title{
  width: 100%;
  text-align: center;
  font-size: 20px;
}

.spinner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50%;
}

.mat-form-field{
  display: block;
  width: 100%;
}

.sign-container{
  margin-right: 10px;
}

.text-title{
  font-size: 20px;
}

.currency-item{
  font-size: 18px;
}

.clear-button-container{
  display: flex;
  justify-content: flex-end;
}

.clear-button-container button{
  font-size: 20px;
}

